@font-face {
    font-family: "mainFont";
    src: url("NHaasGroteskDSPro-25Th.otf");
}


body {

    background-color: rgb(31, 31, 31);
}

#name {
    font-size: 3em;
    font-family: "mainFont";
    padding-bottom: .6%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    color: rgb(255, 243, 173);

}


#description {
    font-size: 3em;
    font-family: "mainFont";
    padding-bottom: .6%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    color: rgb(255, 243, 173);

}

#members {
    font-size: 2em;
    font-family: "mainFont";
    color: rgb(255, 243, 173);
    padding-left: 3%;

}

h1 {
    font-size: 4em;
    font-family: "mainFont";
    color: rgb(255, 243, 173);
    padding-left: 3%;
}

h2 {
    font-size: 2em;
    font-family: "mainFont";
    color: rgb(255, 250, 179);
    padding-left: 3%;
}

h3 {
    font-size: 1.3em;
    font-family: "mainFont";
    color: rgb(255, 250, 179);
    padding-left: 3%;
}


a {

    font-size: .9em;
    text-decoration: none;
    color: rgb(238, 255, 255);
    padding-left: 3%;
    font-family: "mainFont";

}

a:hover {

    color: rgb(255, 250, 179);
    text-decoration: underline;
}

ul {
    color: rgb(255, 250, 179);
    width: 100%;
    padding-left: 4%;
}

li {
    font-size: 1.3em;
    font-family: "mainFont";
    color: rgb(238, 255, 255);
    list-style: none;
}

li::before {
    content: "\00BB";
    padding-right: .5%;
}

a::before {
    font-size: 1.5em;
    content: "\00BB";
    padding-right: .5%;
}

img {
    float: right;
    padding-right: 89%;
    width: 2.4%;
}